.Atlantia {
  background: $blue;
  margin: auto;

  &--Header {
    background: $blue-medium;
    height: 70px;
    padding: 4px 30px;
  }

  &--Graphics {
    display: flex;
    margin-bottom: 36px;

    @media (max-width: 960px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &--Content {
    margin: 0 auto;
    max-width: 1440px;
    padding: 21px 28px 121px 28px;
  }

  &--Title {
    color: $blue-dark;
    font-size: 40px;
    line-height: 160%;
    padding-bottom: 44px;
  }
}